[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.0.3"
autopep8 = "*"
flake8 = "*"
pylint = "*"
gevent = "*"

[packages]
favicon = "==0.7.0"
falcon = "==2.0.0"
limits = "==1.5"
python-mimeparse = "==1.6.0"
vyper-config = "==1.0.0"
webargs = "==5.5.3"
Beaker = "==1.11.0"
uWSGI = "==2.0.18"
gunicorn = "==20.0.4"
python-dateutil = "==2.8.1"
meinheld = "==1.0.1"
falcon-multipart = "==0.2.0"
falcon-auth = {git = "https://github.com/loanzen/falcon-auth",ref = "v2.0.1"}
pillow = "*"
psycopg2-binary = "*"
jinja2 = "*"
boto3 = "*"
pytz = "*"
cryptography = "*"
requests = ">=2.25.1"
twilio = "*"
confluent-kafka = "==1.6.0"
gevent = "*"
aiokafka = "*"
starlette = "*"
loguru = "*"
fastapi = "*"
uvicorn = "*"
websockets = "*"
sse-starlette = "*"
flask = "*"
sseclient = "*"
uvloop = "*"
httptools = "*"
watchdog = "*"
argh = "*"
certifi = "*"
avro = "*"
ipregistry = "3.0.0"
mock = "*"
numpy = "*"
falcon-auth2 = {extras = ["async"], version = "*"}
ujson = "*"
oauthlib = "*"
pyopenssl = "*"

[requires]
python_version = "3.9"

[scripts]
"dev" = "python run.py --env-name=LOCAL"
"test-server" = "env GUNICORN_CMD_ARGS=\"--reload\" python run.py --env-name=LOCAL --log-level=DEBUG --worker-class=gevent --worker-connections=1000 --reload"
"docker" = "env GUNICORN_CMD_ARGS=\"--reload\" python run.py --env-name=LOCAL"
"server" = "python run.py"
"local" = "gunicorn --reload --bind=0.0.0.0:5000 --workers=1 --worker-class=gevent --worker-connections=1000 local-start:app"
# Consumer scripts for local dev with reload
"dev-calls" = "watchmedo auto-restart -p '*.py' -R python -- run-consumers.py --consumer-name=calls"
"dev-email" = "watchmedo auto-restart -p '*.py' -R python -- run-consumers.py --consumer-name=email"
"dev-sms" = "watchmedo auto-restart -p '*.py' -R python -- run-consumers.py --consumer-name=sms"
# Consumers production (no watchdog)
"calls" = "python run-consumers.py --consumer-name=calls"
"emails" = "python run-consumers.py --consumer-name=email"
"sms" = "python run-consumers.py --consumer-name=sms"
